*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
article, div{
    border: 1px solid black;
    padding: 10px;
}
article{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: stretch;
}
div{
    background-color: bisque;
    /*Ezek a gyerek elemek*/
    /*4 doboz kerüljön egymás mellé*/
    flex: 0 0 calc(30% - 10px);
}
/*alapertelmezetten minden order eleme 0*/
div:nth-child(2){
    order: -1;
}
div:nth-child(3){
    order: -1;
}


@media screen and (max-width: 500px){
    article{
        flex-direction: column;
    }
    div{
        flex: 0 0 auto;
    }
}